.round-border {
  border-radius: 5px;
  border: blue 1px solid;
}

html,body {
  height: 100%;
  width: 100%;
  background-color: azure;
  color: white;
  font-family: "Roboto", sans-serif;
}

a {
  color: white;
  font-weight: bold;
}